# Handle categorical predictors

In this notebook we will use categorical variable as predictor in a regression model
we will work with the auto-mpg dataset [link of the course](https://openclassrooms.com/en/courses/5873596-design-effective-statistical-models-to-understand-your-data/6233031-handle-categorical-predictors)

In [75]:
import numpy as np 
import pandas as pd
df=pd.read_csv("data/auto-mpg.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In this data set we have serveral categorical variables but we will interest in origin et name variables

# Origin category

In [76]:
origin={1:'Amerique',2:'European',3:'Japanese'}
df["origin"]=df.origin.astype(int)
df.origin.dtype
df['origin']=df['origin'].apply(lambda d:origin[int(d)])

In [77]:
df.origin.value_counts()

Amerique    245
Japanese     79
European     68
Name: origin, dtype: int64

In [78]:
df['brand'] = df.name.apply(lambda d : d.split(' ')[0])
df.brand

0      chevrolet
1          buick
2       plymouth
3            amc
4           ford
         ...
387         ford
388           vw
389        dodge
390         ford
391        chevy
Name: brand, Length: 392, dtype: object

In [79]:
import statsmodels.formula.api as smf
results=smf.ols(formula="mpg ~ origin",data=df).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.332
Model:                            OLS   Adj. R-squared:                  0.328
Method:                 Least Squares   F-statistic:                     96.60
Date:                Sun, 14 Jun 2020   Prob (F-statistic):           8.67e-35
Time:                        10:21:39   Log-Likelihood:                -1282.2
No. Observations:                 392   AIC:                             2570.
Df Residuals:                     389   BIC:                             2582.
Df Model:                           2
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             20.0335      0.409     49.025      0.000      19.230      20.837
origin[T.European]     7.5695      0.877      8.634      0.000       5.846       9.293
origin[T.Japanese]    10.4172      0.828     12.588      0.000       8.790      12.044
==============================================================================
Omnibus:                       26.330   Durbin-Watson:                   0.763
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.217
Skew:                           0.679   Prob(JB):                     2.74e-07
Kurtosis:                       3.066   Cond. No.                         3.16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Interpreting model

Two thing stand out

* the the statstical model handle the categorical variables by creating two new variables :origin[T.European] and origin[T.Japanese]
* We have three categorie but only two are created



## Dummy Encoding

It encode k level variable in k-1 binary variable 

In this case 
* origin[T.European] means the car is from European true/false
* origin[T.Japanese] means the car is from Japanese true/false
And where the car is not from japanese and Europen then it is from Amerique

In [80]:
pd.get_dummies(df.origin).head()

   Amerique  European  Japanese
0         1         0         0
1         1         0         0
2         1         0         0
3         1         0         0
4         1         0         0

In [81]:
df = df.merge(pd.get_dummies(df.origin), left_index=True, right_index= True )
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,brand,Amerique,European,Japanese
0,18.0,8,307.0,130.0,3504.0,12.0,70,Amerique,chevrolet chevelle malibu,chevrolet,1,0,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,Amerique,buick skylark 320,buick,1,0,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,Amerique,plymouth satellite,plymouth,1,0,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,Amerique,amc rebel sst,amc,1,0,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,Amerique,ford torino,ford,1,0,0

## The model mpg ~ Japanese + European

In [82]:
results2 = smf.ols('mpg ~ Japanese + European', data = df).fit()
results2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.332
Model:                            OLS   Adj. R-squared:                  0.328
Method:                 Least Squares   F-statistic:                     96.60
Date:                Sun, 14 Jun 2020   Prob (F-statistic):           8.67e-35
Time:                        10:21:40   Log-Likelihood:                -1282.2
No. Observations:                 392   AIC:                             2570.
Df Residuals:                     389   BIC:                             2582.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     20.0335      0.409     49.025      0.000      19.230      20.837
Japanese      10.4172      0.828     12.588      0.000       8.790      12.044
European       7.5695      0.877      8.634      0.000       5.846       9.293
==============================================================================
Omnibus:                       26.330   Durbin-Watson:                   0.763
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.217
Skew:                           0.679   Prob(JB):                     2.74e-07
Kurtosis:                       3.066   Cond. No.                         3.16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

This model give the same result that the mpg ~ origin

## Interpreting the coefficient

In [83]:
df[["mpg","origin"]].groupby(by="origin").mean().reset_index()

     origin        mpg
0  Amerique  20.033469
1  European  27.602941
2  Japanese  30.450633

* the intercept is the mean of American cars
* origin[T.European]=means of European cars - intercept
* origin[T.Japanese]= means of Japan cars - intercept




## handling a variable with many categories

In [84]:
df["brand"]=df["name"].apply(lambda d:d.split(" ")[0])
df.brand.value_counts()

ford             48
chevrolet        43
plymouth         31
dodge            28
amc              27
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
oldsmobile       10
mazda            10
peugeot           8
fiat              8
audi              7
chrysler          6
vw                6
volvo             6
saab              4
subaru            4
opel              4
chevy             3
renault           3
mercedes-benz     2
bmw               2
cadillac          2
maxda             2
mercedes          1
hi                1
toyouta           1
triumph           1
nissan            1
chevroelt         1
capri             1
vokswagen         1
Name: brand, dtype: int64

When we have several categories we can not use dummy encoding
 
There is two methodes to handle many categories:
    
# Agregating rare categories

Let's limit our selves to American  cars

In [85]:
#df=df[df.origin=="Amerique"]
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,brand,Amerique,European,Japanese
0,18.0,8,307.0,130.0,3504.0,12.0,70,Amerique,chevrolet chevelle malibu,chevrolet,1,0,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,Amerique,buick skylark 320,buick,1,0,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,Amerique,plymouth satellite,plymouth,1,0,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,Amerique,amc rebel sst,amc,1,0,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,Amerique,ford torino,ford,1,0,0

In [86]:
df.brand.value_counts()

ford             48
chevrolet        43
plymouth         31
dodge            28
amc              27
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
oldsmobile       10
mazda            10
peugeot           8
fiat              8
audi              7
chrysler          6
vw                6
volvo             6
saab              4
subaru            4
opel              4
chevy             3
renault           3
mercedes-benz     2
bmw               2
cadillac          2
maxda             2
mercedes          1
hi                1
toyouta           1
triumph           1
nissan            1
chevroelt         1
capri             1
vokswagen         1
Name: brand, dtype: int64

We see that we have 15 brand and 5 of them have less than 5 samples. So according to the agreagating rare method we can group all rare categories such as them which have less than 10 samples

 # Binary Code
 An alternative to dummy encoding is binary encoding. The idea is to transform the category into ordered numbers (1,2,3, ...,99,100,101, etc.) and then to convert that number into a binary representation (10010). Once you have the binary encoded version of the category, use each digit as a separate variable in the model.

In [87]:
import category_encoders as ce
encoder=ce.BinaryEncoder(cols=["brand"])
df=encoder.fit_transform(df)

In [88]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,brand_0,brand_1,brand_2,brand_3,brand_4,brand_5,brand_6,Amerique,European,Japanese
0,18.0,8,307.0,130.0,3504.0,12.0,70,Amerique,chevrolet chevelle malibu,0,0,0,0,0,0,1,1,0,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,Amerique,buick skylark 320,0,0,0,0,0,1,0,1,0,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,Amerique,plymouth satellite,0,0,0,0,0,1,1,1,0,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,Amerique,amc rebel sst,0,0,0,0,1,0,0,1,0,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,Amerique,ford torino,0,0,0,0,1,0,1,1,0,0

In [90]:
results3=smf.ols(formula="mpg~ brand_0 + brand_1 + brand_2 + brand_3 + brand_4 + brand_5 + brand_6",data=df).fit()
results3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.291
Model:                            OLS   Adj. R-squared:                  0.280
Method:                 Least Squares   F-statistic:                     26.37
Date:                Sun, 14 Jun 2020   Prob (F-statistic):           2.69e-26
Time:                        10:26:29   Log-Likelihood:                -1293.7
No. Observations:                 392   AIC:                             2601.
Df Residuals:                     385   BIC:                             2629.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     19.0814      0.882     21.635      0.000      17.347      20.815
brand_0    -1.711e-15   7.03e-16     -2.435      0.015   -3.09e-15   -3.29e-16
brand_1        6.7307      2.402      2.802      0.005       2.008      11.453
brand_2        3.1976      0.820      3.901      0.000       1.586       4.809
brand_3        8.1270      0.791     10.278      0.000       6.572       9.682
brand_4       -0.4654      0.721     -0.646      0.519      -1.883       0.952
brand_5        1.9886      0.687      2.895      0.004       0.638       3.339
brand_6        0.6642      0.712      0.933      0.351      -0.735       2.063
==============================================================================
Omnibus:                       11.111   Durbin-Watson:                   0.695
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               11.550
Skew:                           0.420   Prob(JB):                      0.00310
Kurtosis:                       2.991   Cond. No.                     6.88e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.68e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

This is a decent model, but we have lost all possibility of interpreting the coefficients for the predictors brand_0, brand_1, ..., brand_5

# Anova 

### One way anova
One-way ANOVA considers only one categorical factor (brand or origin),

In [91]:
results5=smf.ols("mpg ~ C(origin)",data=df).fit()
results5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.332
Model:                            OLS   Adj. R-squared:                  0.328
Method:                 Least Squares   F-statistic:                     96.60
Date:                Sun, 14 Jun 2020   Prob (F-statistic):           8.67e-35
Time:                        10:51:56   Log-Likelihood:                -1282.2
No. Observations:                 392   AIC:                             2570.
Df Residuals:                     389   BIC:                             2582.
Df Model:                           2
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                20.0335      0.409     49.025      0.000      19.230      20.837
C(origin)[T.European]     7.5695      0.877      8.634      0.000       5.846       9.293
C(origin)[T.Japanese]    10.4172      0.828     12.588      0.000       8.790      12.044
==============================================================================
Omnibus:                       26.330   Durbin-Watson:                   0.763
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.217
Skew:                           0.679   Prob(JB):                     2.74e-07
Kurtosis:                       3.066   Cond. No.                         3.16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [95]:
import statsmodels.api as sm
tab_anova=sm.stats.anova_lm(results5)
tab_anova

              df        sum_sq      mean_sq         F        PR(>F)
C(origin)    2.0   7904.291038  3952.145519  96.60153  8.673818e-35
Residual   389.0  15914.702431    40.911831       NaN           NaN

the pvalue < 0.05 so we can reject the null hypothesis H0: No difference between the means in the different categories.

And the large value of the F statistic means the diff obseverded is not happened by chance


#### NB

This does not tell us what category performs best or worst. Only that there is a significant difference between the categories. This is why the analysis of variance is followed by a post-hoc analysis


# post-hoc analysis

In [97]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

mc = MultiComparison(df.mpg, df.origin)
results = mc.tukeyhsd()
results.summary()

Note how the MeanDiff correspond to the linear correlation coefficients that we obtained earlier.

The reject column is set to true for all the pairs, meaning that the difference in means is significant for all three pairs.